<td>
	{{description}}
</td>
<td>
	{{notes}}
</td>
<td class="table-row-controls">
	<button class="btn btn-default button-remove"><i class="glyphicon glyphicon-remove"></i></button>
	<button class="btn btn-default button-down"><i class="glyphicon glyphicon-arrow-down"></i></button>
	<button class="btn btn-default button-up"><i class="glyphicon glyphicon-arrow-up"></i></button>
</td>