<h3>Arrangements</h3>
<table class="table table-striped arrangment-table">
	<thead>
		<tr>
			<th>
				Description
			</th>
			<th>
				Notes
			</th>
			<th>
				Last Set List Date
			</th>
		</tr>
	</thead>
	<tbody>
	
	</tbody>
	<tfoot>
		<tr>
			<td></td>
			<td></td>
			<td class="add-button">
				<button class="btn btn-default"><i class="glyphicon glyphicon-plus"></i></button>
			</td>
		</tr>
	</tfoot>
</table>