<td>{{name}}</td>
<td class="author-controls">
	<button class="btn button-remove"><i class="icon-remove"></i></button>
	<button class="btn button-down"><i class="icon-arrow-down"></i></button>
	<button class="btn button-up"><i class="icon-arrow-up"></i></button>
</td>