html {
	overflow-y: scroll; 
}
#main-wrap{
	margin-top: 75px;
}
.row.spaced, .row-fluid.spaced{
	margin-bottom: 20px;
}
input {
	max-width: 100%;
}
#arrangement-wrap .modal-body, #song-wrap .modal-body{
	overflow:visible;
	overflow-y:visible;
}
/*tabs------------------------------------------------------*/
span.close-tab{
	float:none;
	position:relative;
	top: 3px;
}
/*song tab--------------------------------------------------*/
#song-content{
	overflow:visible;
}
.modal-footer .alert{
	display: inline-block;
	float: left;
	margin-bottom: 0px;
	padding: 4px 35px 4px 14px;
	display:none;
}
/*authors---------------*/
tr:hover .author-controls button{
	visibility:visible;
}
.author-controls button{
	float:right;
	visibility:hidden;
}
.button-add-author{
	float:right;
}
.add-author-modal span{
	margin: 0 9px;
}
input.add-new-author{
	min-width: 169px;
}
/*verses-----------------*/
pre.chord-edit input{
	position:relative;
	left: -2px;
	width:99%;
	padding: 0;
	margin: 0;
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
	font-size: 13px;
}
.verse-content .tab-pane{
	display: inline-block;
	white-space: nowrap;
}
.verse-content textarea{
	width: 97%;
	min-height: 100px;
}
/*arrangements----------------*/
.arrangements tbody tr{
	cursor: pointer;
}
.arrangements tbody tr:hover td{
	color:#005580;
}
.arrangements button{
	float: right;
}
/*arrangement tab---------------------------------------------------------------------------------*/
/*songs---------------------------*/
.songs .panel-heading button{
	float: right;
	margin-top: -11px;
}
.songs .panel-heading button{
	visibility: hidden;
	position: relative;
	top: 3px;
	left: -3px;
}
.songs .panel-heading:hover button{
	visibility:visible;
}
.songs button.add-song{
	float: left;
	margin: -2px 0 10px 10px;
}
.songs h3 {
	float: left;
	margin: 0;
}
.songs .arrangement-songs{
	clear: both;
}
/*verses---------------------------*/
.verse-controls button{
	float: right;
	visibility: hidden;
}
.verse-controls .modal button{
	visibility: visible
}
tr:hover .verse-controls button{
	visibility: visible;
}